$red-color: #b91602;
$orange-color: #fc881c;
$white-color: #fff;
$input-text-color: #5c5e5f;
$input-text-color-active: #373f45;
$submit-top-border-color: #fec48f;

$text-field-shadow-rgb-one: rgba(0, 0, 0, 0.1);
$text-field-shadow-rgb-three: rgba(0, 0, 0, 0.3);
$text-field-shadow-rgb-five: rgba(0, 0, 0, 0.5);

$navbar-red: #b91602;

$mobile-menu-gray: #b7b7b7;
$black-color: #000;
$nav-tab-red: #b91602;
$nav-tab-orange: #fb871e;
$body-color: #131313;
