doctype html
html(lang="en" dir="ltr")
  block head
    include partials/head.jade

  body
    block header
      nav.wrg-menu.navbar.navbar-inverse.navbar-fixed-top
        div.container
          div.navbar-header
            button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            div.active-menu-mobile World Of Tanks

          div#navbar.my-navbar(aria-expanded="false")
            ul.nav.navbar-nav
              li.active
                a(href="#") World Of Tanks
              li
                a(href="#") World Of Warplanes
              li
                a(href="#") World Of Warships

    block content
      div.container
        form.top-margin(name="login", action="", method="post")
          div.form-group.one-line-group
            input.form-control.text-field(type="text", name="search", value="почему")
            input.btn.btn-default.submit-button(type="submit", value="найти")
            div.clearfix

          div.form-group.one-line-group
            input.form-control.text-field(type="text", name="search", value="why")
            input.btn.btn-default.submit-button(type="submit", value="go")
            div.clearfix

        div#chekboxes-block.chekboxes-block

        ul.wrg-tabs
          li.active
            a(data-toggle="tab" href="#faq") Вопросы и ответы
          li
            a(data-toggle="tab" href="#rools") Правила
          li
            a(data-toggle="tab" href="#secure") Безопасность
          li.clearfix

        div.tab-content.wrg-tabs-content
          div#faq.tab-pane.fade.in.active
            h3 Почему не рассматриваются заявки с жалобами на нарушение Правил игры?
            div.tab-content.left
              p После введения функционала «Пожаловаться» не рассматриваются заявки, созданные в Центр поддержки
                | пользователей о нарушении Правил игры по следующим пунктам:
              ol
                li
                  | «Оскорбления и провокации» <br/>
                  | В данный пункт входит: <br/>
                  | - использование ненормативной лексики и оскорбление собеседников, применение унизительных кличек и
                  | прозвищ по расовому, национальному, религиозному либо половому признаку, а также провоцирование
                  | собеседника к их использованию; <br/>
                  | - клевета, размещение заведомо ложной информации об Игре, Администрации, Модераторах или Пользователях; <br/>
                  | - угрозы реальной расправы в отношенииили представителей Администрации Проекта. Все виды
            div.tab-content.right
              ol.right-tab-first-ol
                p.continue-left-block соглашения. <br/>
                li
                  | «Неинформативные сообщения» <br/>
                  | В данный пункт входит: <br/>
                  | - размещение информации (сообщения, фразы, символов и пр.), направленной на отвлечение
                  | Пользователей от темы беседы (флуд); <br/>
                  | - все виды рекламных сообщений, в частности ссылки на интернет-ресурсы.
                p
                  | Также не рассматриваются следующие заявки, созданные в Центр поддержки пользователей о нарушении Правил игры:
              ol.right-tab-second-ol
                li «Раскрытие позиций союзников»
                li «Выталкивание союзника»
                li «Неспортивное поведение»
                li «Повреждение союзников»
            div.clearfix
          div#rools.tab-pane.fade
            h3 Пользователь не вправе:
            div.tab-content.tab-rools-content
              p <strong>1.</strong> Распространять в <strong>коммерческих</strong> или <strong>некоммерческих</strong>
                | целях <span>Игру</span> или ее копии, как путем распространения материальных носителей с ней, так и
                | путем ее размещения в сети интернет для представления доступа к ней и (или) скачивания определенными
                | лицами или неограниченным кругом лиц.
              p 2. Переводить <span>Игру</span> на другие языки без согласования с <strong>Wargaming</strong>.
              p 3. Распространять в коммерческих или некоммерческих целях аудиовизуальные элементы, изображения,
                | а также иные объекты интеллектуальной собственности, присутствующие в <span>Игре</span>
                | (кроме случаев, разрешенных <strong>Wargaming</strong>).
              p 4. Распространять в коммерческих или некоммерческих целях Игровые элементы и Дополнительные возможности.
              p 5. Передавать права в отношении <span>Игры</span>, включая ее Дополнительные возможности, в коммерческих или
                | некоммерческих целях третьим лицам, в том числе путем передачи Аккаунта, заключения договора или иным способом.
              p 6. Размещать в <span>Игре</span> материалы, оскорбляющие или унижающие честь и достоинство других Пользователей или
                | третьих лиц, или ссылки на такие материалы.
          div#secure.tab-pane.fade
            h3 Уважаемые игроки!
            div.tab-content.tab-secure-content
              div.img-left
                img(src="static/images/secure.jpg", title="Уважаемые игроки!", alt="Уважаемые игроки!")
              div.text-left
                p Безопасность учётных записей пользователей — один из главных приоритетов компании Wargaming. В связи
                  | с тем, что в открытый доступ попали пароли от миллионов email-адресов таких крупных почтовых сервисов,
                  | как «Яндекс», Mail.ru и Gmail, в качестве меры предосторожности мы вновь начинаем глобальную кампанию
                  | по повышению безопасности учётных записей Wargaming.net.
                p Акция «Защити свой пароль» проходит в World of Tanks и World of Warplanes с 9 сентября.
                  | Вы можете не только повысить уровень безопасности игрового аккаунта, но и получить за это игровое золото.
                p Чтобы изменить свой пароль, необходимо авторизоваться на порталах World of Tanks или World of Warplanes,
                  | зайти в «Личный кабинет» и выбрать опцию «Изменить пароль к игре». Бонус в игровом золоте будет
                  | начислен один раз, после того как изменения вступят в силу.
              div.clearfix
    block footer
      include partials/footer.jade